.ProtectedLayoutChildren {
    max-width: 800px;
    margin:auto;
}

/* basic NavBar CSS, add to App.css and customise as needed */
.NavBar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.NavBar ul li a {
    padding: 1em;
    color: inherit;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.NavBar ul li a.active { 
    font-weight: bold; 
}